
.carousel {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 30px;
  background-color: #eee;
  padding: 30px;

}
.img {
  width: 300px;
  height: 300px;
  flex: 4;
}
.text{
  flex:2;
  text-align: center;
}
